*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
}


ul{list-style: none;}

button{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    padding: 7px 14px;
    border: 1px solid #0052CC;
    border-radius: 5px;
    color: #0052CC;
    background-color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(243, 243, 243);
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 77px;
    z-index: 999;
    background:  white;
    transition: 0.5s;

}

.header.active{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 77px;
    z-index: 999;
    background-color:  rgb(253 253 253);
    box-shadow: 0 2px 10px rgb(0 0 0 / 25%);
    transition: 0.5s;
    
   
    
}

.header .container{
    height: 65px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
.header .logo{
    margin: 0;
    padding: 30px 12px;
    font-weight: 600;
    color: #0052CC;
    text-decoration: none;
    font-size: 1.5em;
    
    
}
 
.header .container .img img{
    height: 30px;
    width: 38px;
    margin-right: 650px;
}

.header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}



.header button{
    margin-left: 10px;
    
 }

.header nav img{
    padding: 15px;
    width: 46px;
    height: 46px;
}

#hero{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: left;
    height: 680px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
}   

#hero .text{
    background-size: 100% 100%;
    background-image: linear-gradient(90deg, rgba(0, 70, 204, 0) 25%, #0052CC 151.06%);
    height: 375px;
    width: 760px;
    margin-right: 250px;
    margin-top: 70px;
   
}

#hero .image{
    position: absolute;
    margin-right: 132px;
    height: 525px;
}

#hero .image img{
    height: 557px;
}

#hero h1{
    color: #42526E;
    font-weight: 600;
    font-size: 2.4em;
    width: 500px;
    margin:50px 0px;
    margin-bottom: 20px;
    line-height: 50px;
    
}

 #hero p{
    color: #42526E;
    font-weight: 400;
    font-size: 1em;
    width: 550px;
    margin: 20px 0px;
    margin-bottom: 20px;
    line-height: 25px;
 }

#hero .text button{
    color: white;
    background-color: #0052cc;
    text-decoration: none;
   
}

#hero .text button:hover{
    background-color: #154c9e;
}

#btf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 1100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 45px;
}

#btf .text h2{
    color: #42526E;
    font-size: 2em;
    font-weight: 600;
    margin-left: 145px;
    margin-right: 150px;
    
}

#btf .text p{
    color: #42526E;
    font-size: 1em;
    font-weight: 400;
    
    margin-left: 145px;
    margin-right: 310px;
    line-height: 22px;
}

.wrapper{
    height: 540px;
    max-width: 1350px;
    width: 100%;
    margin: 30px auto;
    padding: 25px 30px 30px 30px;
    border-radius: 5px;
}

.wrapper nav{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 240px;
    border-bottom: 1px #EBECF0 solid;
    width: 85%;
    
    
}

.wrapper h3{
    margin: 0;
    margin-left: 240px;
    width: 700px;
    height: 70px;
    left: 0px;
    top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 33px;
    color: #42526E;
    
}

.wrapper nav label{
    margin-right: 80px;
    display: block;   
    text-align: center;
    cursor: pointer;
    color: #42526E;
    font-size: 0.9em; 
    font-weight: 600;
    position: relative;
    z-index: 1;
    padding-bottom: 5px;
    
}


#service:checked ~ nav label.service{
    color: #0052CC;
    border-bottom: 2px solid #0052CC;
   
}
#apps:checked ~ nav label.apps{
    color: #0052CC;
    border-bottom: 2px solid #0052CC;
    
}

#websites:checked ~ nav label.websites{
    color: #0052CC;
    border-bottom: 2px solid #0052CC;
    
}

#landing:checked ~ nav label.landing{
    color: #0052CC;
    border-bottom: 2px solid #0052CC;
}

#banners:checked ~ nav label.banners{
    color: #0052CC;
    border-bottom: 2px solid #0052CC;
}

#email:checked ~ nav label.email{
    color: #0052CC;
    border-bottom: 2px solid #0052CC;
}

input[type="radio"]{
    display: none;
}



section .content{ 
    display: none ;
    max-width: 1600px;
    
    
}

#service:checked ~ section .content1{
    display: block;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    
    
}

#apps:checked ~ section .content2{
    display: block;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

#websites:checked ~ section .content3{
    display: block;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

#landing:checked ~ section .content4{
    display: block;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

#banners:checked ~ section .content5{
    display: block;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

#email:checked ~ section .content6{
    display: block;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}


section .content .text{
    height: 100%;
    width: 35%;
    margin-left: 5px;
    
    
}

section .content .line{
    width: 5px;
    height: 220px;
    background: #0052CC;
    margin-left: 280px;
    margin-right: 10px;
    margin-top: 20px;
    
}

section .content p{
    width: 398px;
    height: 82px;
    margin-top: 28px;
    font-weight: 400;
    font-size: 1em;
    line-height: 22px;
    color:#42526E;
}



section .content .image img{
   height: 260px;
   margin-right: 135px;
  
   
   
}

section .content1 .text h2{
    width: 420px;
    height: 97px;
    font-weight: 400;
    font-size: 2em;
    line-height: 49px;
    color: #0052CC;
}

section .content2 .text h2{
    width: 446px;
    height: 97px;
    font-weight: 400;
    font-size: 2em;
    line-height: 49px;
    color: #0052CC;
}

section .content3 .text h2{
    width: 440px;
    height: 97px;
    font-weight: 400;
    font-size: 2em;
    line-height: 49px;
    color: #0052CC;
}

section .content4 .text h2{
    width: 420px;
    height: 97px;
    font-weight: 400;
    font-size: 2em;
    line-height: 49px;
    color: #0052CC;
}

section .content5 .text h2{
    width: 390px;
    height: 97px;
    font-weight: 400;
    font-size: 2em;
    line-height: 49px;
    color: #0052CC;
}

section .content6 .text h2{
    width: 420px;
    height: 97px;
    font-weight: 400;
    font-size: 2em;
    line-height: 49px;
    color: #0052CC;
}

#operations{
    align-items: center;
    text-align: center;
    height: 600px;
    max-width: 1200px;
    margin: auto;
}

#operations h2{
    color: #42526E;
    font-size: 2em;
    font-weight: 600;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
}

#operations p{
    color: #42526E;
    font-size: 1em;
    font-weight: 400;
}

#operations .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

#operations .cards .card{
    border: rgba(0, 0, 0, 0.11) solid 1px;
    box-shadow: 0px 4px 8px rgba(9, 30, 66, 0.25);
    border-radius: 6px;
    width: 320px;
    height: 270px;
    margin: 10px;
    padding: 30px;
}

#operations .cards .card img{
    height: 40px;
    width: 40px;
    
}

#operations .cards .card h3{
    color: #0052CC;
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 12.5px;
    margin-bottom: 20px;
    
}

#operations .cards .card p{
    font-size: 1em;
    font-weight: 400;
    
}

#testimonials{
    align-items: center;
    text-align: center;
    height: 900px;
    max-width: 1100px;
    margin: auto;
}

#testimonials h2{
    color: #42526E;
    font-size: 2em;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
}

#testimonials p{
    color: #42526E;
    font-size: 1em;
    font-weight: 400;
}

#testimonials .cards{
    display: flex;
    flex-direction: column;
    margin-top: 80px; 
}

#testimonials .cards .card{
    max-width: 1100px;
    padding: 0px 90px;
    
    
}

#testimonials .cards .card:first-child p{
    margin-right: 600px;
}

#testimonials .cards .card:last-child p{
    margin-left: 600px;
    
}

#testimonials .cards .card:first-child{
    text-align: left;
}

#testimonials .cards .card:last-child{
    text-align: right;
}

#testimonials .cards .card .text{
    color: #42526E;
    font-size: 1.25em; 
    font-weight: 600;
}

#testimonials .cards .card .name{
    color: #42526E;
    font-size: 1em;
    font-weight: 600;
}
#testimonials .cards .card .company{
    color: #42526E;
    font-size: 1em;
    font-weight: 400;
}

.footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 180px;
    background-color: #F4F5F7;
   
}

.footer .container{
    height: 65px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.footer .logo{
    padding-right: 14px;
    font-weight: 600;
    color: #42526E;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 40px;
    
    
}

.footer .container .img img{
    height: 30px;
    width: 38px;
    margin-right: 660px;
    
}

.footer .container nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 0 40px;
    margin-right: 12px;
}

.footer .container nav a img{
    margin: 0px 12px;
    padding:1px;
    height: 20px;
    width: 30px;
}

 .footer nav img{
    padding: 17px;
}

#cta {
    height: 230px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 60px;
    background-color: #0052CC;
}

#cta .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
}

#cta .container{
    position: relative;
    height: 100%;
    max-width: 90%;
    margin-right: 0px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) -15.48%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
    border-radius: 0px 0px 0px 380px;
    z-index: 0;
}

#cta .text h3{
    color: white;
    font-size: 1.25em;
    font-weight: 600;
}

#cta .text button{
    margin-top: 10px;
    cursor: pointer;
}

#tabs{
    align-items: center;
    text-align: left;
    height: 3000px;
    max-width: 1200px;
    margin: auto;
}

#tabs h3{
    color: #42526E;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0px 60px;
    margin-left: 150px;
    margin-right: 150px;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content] {
    display: block;
}
